@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    .container.quiz-modal__container
        max-width: 100%!important
    .heading__main 
        font-size: 35px
    .empty
        height: 18vh
    .button__popup
        padding: 15px
        font-size: $font-size-default
    .quiz-form__radio
        margin-bottom: 40px
    .progressbar
        max-width: 100%
    .border/*.discount__wrapper*/
        margin-top: 20px
        //max-width: 445.5px
        //width: 100%
    //.specialist__wrapper
        margin-left: 10px
    //.discount__wrapper
        margin-right: 10px
    .discount__heading
        margin-bottom: 0
        &::after
            display: none
    .discout__img
        margin-right: 15px
    .specialist
        margin-bottom: 0
        margin-right: 30px
    .specialist__description
        margin-bottom: 0
    .workplace-group
        margin: 0 auto
    .quiz
        height: auto
    
// ≥768px
+media-breakpoint-down(sm)
    
    .quiz-form__radio,.hint__wrapper,.progressbar__description,.quiz-form__salary,.quiz-form__file
        margin-bottom: 10px
    .specialist__wrapper
        margin-bottom: 20px
    .navigation
        margin-top: 20px
    .quiz__logo-mobile
        width: 115px
        height: 35px
        margin-left: 15%
    .navigation 
        margin-bottom: 20px
    .checker__wrapper
        width: 100%
    .quiz-form__workplace 
        max-width: 527px!important
        height: 235px
    .semi-screen
        height: 100%
        border-radius: 0
    .swiper-button-next
        right: 10px
    
// ≥576px
+media-breakpoint-down(xs)
    .quiz__logo
        width: 85%
        height: 90%
        margin-left: 15%
    .discount__wrapper,.specialist__wrapper
        max-width: 100%
        margin: 10px 0
    .discount__wrapper
        margin-top: 0!important
    .widget-slider 
        max-width: 96%
    .widget-form__workplace
        height: 120px
    .widget-workplace__image 
        max-width: 100px
        max-height: 185px
    .quiz-form__workplace 
        height: 155px
    .workplace-group,.workplace
        height: 100px
        width: 135px
        img
            height: 100px
            width: 135px
    .workplace__checker.widget-workplace__checker
        top: -25px
        left: -30px
        font-size: 15px
    .workplace__checker  
        left: 100px
        top: -95px



@media (max-width: 574px)
    .quiz
        padding: 5px
        max-width: 90%!important
    .hint__heading, .navigation__button, .quiz__title, .progressbar__description
        font-size: 12px
    .quiz__question 
        font-size: 18px
    .radio__description
        font-size: 14px
    input[type=radio]
        margin-right: 5px
    .heading__main 
        font-size: 28px
    .subheading__main 
        font-size: 15px
    .navigation__button
        width: 45%
    .discount__heading
        display: block
    .specialist
        margin-right: 0
    .specialist__avatar
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0
    .discount__counter
        font-size: $font-size-default * 2 - 2
    .quiz-form__workplace 
        max-width: 485px!important
        width: 99%
    .quiz__logo-final
        width: 115px
        height: 35px
    
@media (max-width: 425px)
    .discount__wrapper
        justify-content: center!important
    .discount__heading
        margin: 10px
    .specialist
        margin-bottom: 10px
    .specialist__description
        br
            display: none
    input[type=number]
        width: 80%
    .quiz-form__workplace
        max-width: 405px!important
        width: 99%
        


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
