@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
button, a
    &:focus
        outline: 0


body
	font-size: $font-size-default
    font-family: $default-font
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
h1, h2, h3, h4, h5, h6, p, a
    font-family: $default-font
    
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
.text-left
    text-align: left
.text-right
    text-align: right

b, strong
	font-weight: bold

/* 1st screen */
.screen
    background: url('../img/background.jpg') no-repeat 100% 100%

.empty
    height: 25vh

.fullscreen
    height: 100vh
    
.heading__main, .subheading__main
    font-family: 'Rubik'
    color:  #fff
.heading__main
    font-size: $font-size-default*3
    font-weight: 500
.subheading__main
    font-size: $font-size-default+4
    font-weight: 300 
.button
    color:  #fff
    max-width: 225px
    margin: 0 auto
.button__popup
    cursor: pointer
    padding: 20px 40px
    color:  #fff
    font-size: $font-size-default + 4
    font-weight: 300
    line-height: $font-size-default + 4
    display: block
    box-sizing: border-box
    background: linear-gradient(8deg, #2468a1 25%, #417cae 50%, #5285b0 75%)
    box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.07)
    border-radius: 10em
    &:hover
        color: $accent
        background: $default-hover-gradient
        text-decoration: none
/* quiz */
.quiz
    display: none
    cursor: default!important
    max-width: 1000px
    width: 100%
    background-color:  #ffffff
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
    transition: all .7s;
//.fancybox-close-small
//    right: -10px
//    top: -10px
//.quiz__container
//    padding: 60px
    
.quiz__title, .quiz_question, .hint__heading, .navigation__button
    color:  $text
    line-height: $font-size-default + 4

.quiz__title, .hint__heading, .navigation__button
    font-size: $font-size-default - 4
    font-weight: 300
.quiz__title
    &::after
        content: ''
        display: block
        margin-top: 10px
        width: 75%
        height: 2px
        background: linear-gradient(18deg, #6091ba 48%, #7099bc 50%, #7a9ebd 52%)
    
.checker
    margin-right: 12px

.quiz__question 
    font-size: $font-size-default + 4
    font-weight: 300

.quiz-form__radio
    margin-bottom: 80px
    
input[type='radio']
    appearance: none
    margin-right: 20px
    width: 24px
    height: 24px
    border: 1px solid $accent
    border-radius: 50%
    &:hover
        cursor: pointer
        box-shadow: 0 0 10px 0px $accent inset
    &:before 
        content: ''
        display: block
        width: 60%
        height: 60%
        margin: 19% auto
        border-radius: 50%   
    &:checked
        &:before
            background: $default-gradient
label
    &:hover
        cursor: pointer  

.radio__description
    margin-bottom: 0
    
.progressbar
    border-radius: 3px 
    border: 0.5px solid #1364a9
    max-width: 350px
    width: 20%
    background-color: $accent
    height: 8px
    
.hint__wrapper
    padding: 15px 25px
    border: 1px solid $accent
    img
        width: 100%
        height: 100%
        max-height: 278px
.quiz__logo
    height: 30%
    width: 20%
    margin-bottom: 20px
    
.navigation
    margin-top: 20px
    
.navigation__button
    cursor: pointer
    max-width: 125px
    width: 100%
    display: block
    box-sizing: border-box
    border-radius: 30px
    border: none
    padding: 10px
    background: #fff
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05)
    &:hover
        background: $default-hover-gradient
        color: $text
    
.enabled
    background: $default-gradient
    border: none
    color: #fff
        
    
@import "media" // Always at the end
