@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
button, a
    &:focus
        outline: 0


body
	font-size: $font-size-default
    font-family: $default-font
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: $accent
h1, h2, h3, h4, h5, h6, p, a
    font-family: $default-font
    
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
.text-left
    text-align: left
.text-right
    text-align: right

b, strong
	font-weight: bold

/* 1st screen */
.screen
    background: url('../img/background.jpg') no-repeat 100% 100%

.empty
    height: 25vh

.fullscreen
    height: 100vh
    
.heading__main, .subheading__main
    font-family: 'Rubik'
    color:  #fff
.heading__main
    font-size: $font-size-default*3
    font-weight: 500
.subheading__main
    font-size: $font-size-default+4
    font-weight: 300 
.button
    color:  #fff
    max-width: 225px
    margin: 0 auto
.button__popup
    cursor: pointer
    padding: 20px 40px
    color:  #fff
    font-size: $font-size-default + 4
    font-weight: 300
    line-height: $font-size-default + 4
    display: block
    box-sizing: border-box
    background: linear-gradient(8deg, #2468a1 25%, #417cae 50%, #5285b0 75%)
    box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.07)
    border-radius: 10em
    &:hover
        color: $accent
        background: $default-hover-gradient
        text-decoration: none

/*========= quiz =========*/
.quiz
    display: none
    cursor: default!important
    max-width: 1000px
    width: 100%
    padding: 24px
    //height: 100%
    //max-height: 550px
    background-color:  #ffffff
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
    transition: all .7s;
//.fancybox-close-small
//    right: -10px
//    top: -10px
//.quiz__container
//    padding: 60px
    
.quiz__title, .quiz_question, .hint__heading, .navigation__button
    color:  $text
    line-height: $font-size-default + 4

.quiz__title, .hint__heading, .navigation__button
    font-size: $font-size-default - 4
    font-weight: 300
.quiz__title
    max-width: 335px
    &::after
        content: ''
        display: block
        margin-top: 10px
        width: 100%
        max-width: 250px
        height: 2px
        background: $after-gradient
.quiz__prequestion
    font-size: $font-size-default - 4
    line-height: $font-size-default + 4
    margin-bottom: 5px
.quiz__question 
    font-size: $font-size-default + 4
    font-weight: 400

// form styling start
.quiz-form__radio
    margin-bottom: 80px
.quiz-form__salary, .quiz-form__file
    margin-bottom: 30% 
.quiz-form__workplace
    max-width: 714px!important
    height: 245px
input[type='radio']
    appearance: none
    margin-right: 20px
    width: 24px
    height: 24px
    border: 1px solid $accent
    border-radius: 50%
    &:hover
        cursor: pointer
        box-shadow: 0 0 10px 0px $accent inset
    &:before 
        content: ''
        display: block
        width: 60%
        height: 60%
        margin: 19% auto
        border-radius: 50%   
    &:checked
        &:before
            background: $default-gradient
input[type='number']
    padding-left: 15px
    max-width: 280px
    width: 100%
    &::placeholder
        opacity: 0.5
//remove spinners start
input[type='number']::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0
input[type='number']
    -moz-appearance: textfield
input[type="file"]
    display: none
//remove spinners end
label
    font-family: $default-font
    &:hover
        cursor: pointer
label[for='file']
    border-radius: 3px;
    border: 1px solid #000 
    background:  #fff
    opacity: 0.5
    width: 100%
    max-width: 210px
    box-sizing: border-box
    padding: 0 1%
    &:hover
        opacity: 1
.button_upload
    vertical-align: middle  
.upload
    margin: 10px
input[name='workplace']
    display: none        
.workplace__checker
    display: inline-block
    left: 165px
    top: -165px
    box-sizing: border-box
input[name='workplace']
    &:not(:checked) + .workplace__checker
        opacity: 0
    &:hover + .workplace__checker
        display: inline-block
        opacity: 1
    &:checked + .workplace__checker
        display: inline-block
        &::before
            content: ""             
            display: block			 
            position: absolute      
            top: 2px
            right: 2px
            bottom: 2px
            left: 2px
            background: $default-gradient
            border-radius: 2px
.workplace-group,.workplace
    max-width: 200px
    max-height: 180px
    width: 100%
    height: 100%
    img
        max-width: 200px
        max-height: 180px
        width: 100%
        height: 100%
.workplace-group
    height: 235px
.workplace__description
    font-size: $font-size-default - 6
    margin: -20px auto
    text-align: center
/* checkbox start
.checker__wrapper
    border-radius: 3px
    border: 1px solid #000
    padding: 4px 5px
    width: 85%
.checker__wrapper.checker__wrapper-checked
    border: 1px solid $accent
    box-shadow: 0 0 3px 4px #226cac4d
.checkbox-group
    &:nth-child(2n)
        margin-bottom: 30px
.checkbox-custom,.workplace__checker 
	position: relative
	width: 22px            
	height: 22px
.workplace__checker           
	border: 1px solid #666
	border-radius: 3px
.checkbox-custom, .label 
	display: inline-block
.checkbox
    display: none
    &:checked + .checkbox-custom
        .fa-check-circle
            opacity: 1
            color: $accent
            background: #fff
            box-shadow: 0 0 3px 4px #226cac4d
.fa-check-circle
    opacity: .5
    color: #000
    background: #000
    border-radius: 50%

//checkbox end
.contacts__input
    border: none
    border-bottom: #000 2px solid
    margin: 25px auto
    box-sizing: border-box
    padding-left: 35px
    &:focus
        border-bottom: $accent 2px solid
        transition: .5s
    &:focus + .fa__contacts
        color: $accent
        transition: .5s
    &:focus:required:invalid + .fa__contacts
        color: red
    &:required:valid + .fa__contacts
        color: $accent
.fa__contacts
    position: relative
    left: -240px
.rotate
    transform: rotateY(180deg)
// form styling end
.radio__description
    margin-bottom: 0
.checker
    margin-right: 12px
.progressbar
    border-radius: 3px 
    border: 0.5px solid #1364a9
    max-width: 350px
    width: 100%
    height: 8px
    span
        background-color: $accent
        display: inherit
        height: 100%
.progressbar__description
    margin-bottom: 0
.hint__wrapper,.discount__wrapper,.specialist__wrapper
    border: 1px solid $accent
.hint__wrapper
    padding: 15px 25px
    height: 100%
    img
        width: 100%
        max-height: 278px
.discount__wrapper, .specialist__wrapper
    padding: 15px 10px
.discount__heading
    font-family: 'Rubick'
    font-weight: 300
    line-height: 1
    &::after
        content: ''
        display: block
        margin-top: 10px
        width: 60%
        height: 2px
        background: $after-gradient
.discount__subheading
    font-size: $font-size-default - 6
    line-height: $font-size-default - 6
    margin-bottom: 0
.discount__counter
    font-size: 48px
    margin-right: 10px
.specialist
    margin-bottom: 30px
.specialist__wrapper
    margin-top: 20px
.specialist__info
    display: inline-block
    vertical-align: middle
.specialist__name,.specialist__role,.specialist__description
    font-family: 'Rubik'
    font-weight: 300
    line-height: $font-size-default - 4
    margin-bottom: 10px
.specialist__name,.specialist__description
    font-size: $font-size-default - 4
.specialist__role
    font-size: $font-size-default - 6
    margin-bottom: 0
.specialist__avatar
    width: 60px
    height: 60px
    border-radius: 50%
    margin-right: 15px
.salary__hint
    font-family: $default-font
    font-size: $font-size-default - 4
    font-weight: 300
    line-height: 24px
.quiz__logo
    height: 30%
    width: 20%
    margin-bottom: 20px  
.navigation
    margin-top: 20px
    
.navigation__button
    cursor: pointer
    max-width: 125px
    width: 100%
    display: block
    box-sizing: border-box
    border-radius: 30px
    border: none
    padding: 10px
    background: #fff
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05)
    &:hover
        background: $default-hover-gradient
        color: $text
    &:disabled
        opacity: 0.5
    &:not(disabled)+.enabled
        opcaity: 1
        background: $default-gradient
        border: none
        color: #fff
.results
    max-width: 250px
.confidential
    font-size: $font-size-default - 6
    margin-top: 24px
        
//slider
.swiper-container-horizontal
    .swiper-scrollbar
        left: 0
        width: 95%
.swiper-scrollbar
    border: 1px solid $accent
    background: transparent
    padding: 2px 0
    height: 10px !important
.swiper-scrollbar-drag
    background: $accent
    margin: 0 -5px 0 0
    
//float widgets
.widget-mini
    max-width: 270px
    box-sizing: border-box
    position: fixed
    right: 2%
    bottom: 2%
.widget-slider
    max-width: 550px
    box-sizing: border-box
    position: fixed
    left: 2%
    bottom: 45%
.widget-float
    z-index: 10
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1)
.widget__head
    padding: 10px 30px
    width: 100%
    background: #fff
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1)
.widget__body
    width: 100%
    background: #eff9fe
    padding: 35px 30px
.widget__title
    font-size: 16px
    margin-bottom: 5px
.widget__question
    font-size: 24px
    line-height: 24px
    font-weight: 400
    margin-bottom: 0
.widget_vacation
    margin-right: 5px
.widget-radio__description
    font-size: 19px
    margin-bottom: 0
.widget-form__workplace
    max-width: 490px
.widget-workplace__image   
    max-width: 150px
    max-height: 135px
.widget-workplace__checker
    top: -130px
    left: 115px
//.widget-workplace-group
    margin-right: 30px
    
@import "media" // Always at the end
